@model IndexViewModel
@{
    ViewBag.Title = "Blog Website";
    ViewBag.Description = "This Blog has everything!";
    ViewBag.Keywords = "blog programming travel photography";
}

<div class="main-img">
    <span class="title">Amazing Blog Site</span>
</div>

<div class="container-post">
    @foreach (var post in Model.Posts)
    {
        var imagePath = $"/Image/{post.Image}";
        <a class="post" asp-controller="Home" asp-action="Post" asp-route-id="@post.Id">
            <img src="@imagePath" asp-append-version="IsLayoutBeingRendered" />
            <span class="title">@post.Title</span>
        </a>
    }
    <div class="pages">
        @if (Model.PageNumber > 1)
        {
            <a asp-action="Index" asp-controller="Home" asp-route-pageNumber="@(Model.PageNumber - 1)"
               asp-route-category="@Model.Category">&gt;</a>
        }

        @for (int i = 1; i <= Model.PageCount; i++)
        {

            string activeClass = i == Model.PageNumber ? "aktive" : "";
            <a class="@activeClass" asp-action="Index" asp-controller="Home" asp-route-pageNumber="@i"
               asp-route-category="@Model.Category"> @i </a>
        }

        @if (Model.NextPage)
        {
            <a asp-action="Index" asp-controller="Home" asp-route-pageNumber="@(Model.PageNumber + 1)"
               asp-route-category="@Model.Category"> &lt; </a>
        }
    </div>
</div>