@model IEnumerable<Post>
@{

}
@*<h2> Home</h2>*@
@*<img src="~/content/static/img1.jpg" width="500px"/>*@
<div class="main-img">
    <span class="title">Amazing Blog Site</span>
</div>

<div class="container-post">
    @*<ul>
        @foreach (var post in Model)
        {
            <li>
                <a asp-controller="Home" asp-action="Post" asp-route-id="@post.Id">
                    @post.Title
                </a>
            
            </li>
        }
    </ul>*@
    
    @foreach (var post in Model)
    {
        var imagePath = $"/Image/{post.Image}";
        <a class="post" asp-controller="Home" asp-action="Post" asp-route-id="@post.Id">
        <img src="@imagePath" asp-append-version="IsLayoutBeingRendered"/>
            <span class="title">@post.Title</span>
        </a>
    }
</div>